.footer-conteudo {
    background-color: #252525;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.footer-conteudo h6 {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
}